.Header {
  display: flex;
  align-items: center;

  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}
.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center; /*flex에서 자식들의 배치를 가운데로 위치시킴*/
}
.Header .header_left {
  width: 25%;
  justify-content: flex-start;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
